<div class="container">
    <div class="card">
        <div class="row">
            <h1>Mis Proyectos</h1>
            <div class="contenedor">
                <div class="col-sm-12 col-md-7 col-lg-7 texto">
                    <h1>Sistema de Gestion Panaderia</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsa optio doloremque corporis fugit
                        iure veniam est repudiandae vitae nesciunt. Nihil iure quibusdam, explicabo quisquam tenetur ullam omnis
                        suscipit corrupti?</p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
                    <img src="../../../assets/sistema_panaderia.png" class="img-fluid img-proyecto">
                </div>
            </div>
        </div>
    </div>
</div>