<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    Imagen de Perfil Actual
                </div>
                <div class="card-body">
                    <img src="data:image/png;base64, {{persona.img}}" width="150" height="150" alt="picture">
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    Modificar el Perfil
                </div>
                <form (ngSubmit)="onUpdate()" #f="ngForm" novalidate>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="nuevaimg">Cambiar la foto de Perfil</label>
                            <input type="file" class="form-control-file" name="nuevaimg" id="nuevaimg"
                                (change)="onFileSelected($event)">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                [(ngModel)]="persona.nombre" placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="apellido" name="apellido"
                                [(ngModel)]="persona.apellido" placeholder="Apellido" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" [(ngModel)]="persona.descripcion" maxlength="255" name="descripcion" id="descripcion" cols="30" rows="10">{{persona.descripcion}}</textarea>
                        </div>
                        <br>
                        <button class="btn btn-primary">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>