<div class="container">
    <div class="row">
        <div class="card">
            <h1>Experiencia Laboral <button type="button" class="btn btn-outline-dark" routerLink="/nueva-experiencia"
                    *ngIf="isLogged">Nueva Experiencia</button></h1>

            <div class="col lg 1"></div>
            <div class="col-lg-11">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let Experiencia of xp">
                            <td>
                                <h3>{{Experiencia.nombreE}}</h3>
                            </td>
                            <td>{{Experiencia.descripcionE}}</td>
                            <td *ngIf="isLogged">
                                <button class="btn btn-outline-dark"
                                    routerLink="/editar-experiencia/{{Experiencia.id}}">
                                    <i class="uil uil-edit"></i>
                                </button>
                            </td>
                            <td *ngIf="isLogged">
                                <button class="btn btn-outline-danger" (click)="delete(Experiencia.id)">
                                    <i class="uil uil-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>