<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    Cargar una Nueva Experiencia Laboral
                </div>
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE"
                                placeholder="Nombre de la Empresa" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" id="descripcionE" name="descripcionE"
                                [(ngModel)]="descripcionE" placeholder="Descripcion de la tarea" required>
                        </div>
                        <br>
                        <button class="btn btn-primary">GUARDAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>