<div class="container">
    <div class="card">
        <div class="row">
            <h1>Experiencia Laboral</h1>
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <ul>
                    <li>
                        <h1>Trabajo 1</h1> - <h3>(years)</h3>
                    </li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil necessitatibus, voluptatum
                        eveniet
                        magnam
                        illo voluptatem dignissimos eum consequuntur dicta reprehenderit, quia dolores molestiae a alias
                        minus
                        sequi. Voluptatum, voluptates eum.
                    </p>
                </ul>
                <ul>
                    <li>
                        <h1>Trabajo 2</h1> - <h3>(years)</h3>
                    </li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil necessitatibus, voluptatum
                        eveniet
                        magnam
                        illo voluptatem dignissimos eum consequuntur dicta reprehenderit, quia dolores molestiae a alias
                        minus
                        sequi. Voluptatum, voluptates eum.
                    </p>
                </ul>
                <ul>
                    <li>
                        <h1>Trabajo 3</h1> - <h3>(years)</h3>
                    </li>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil necessitatibus, voluptatum
                        eveniet
                        magnam
                        illo voluptatem dignissimos eum consequuntur dicta reprehenderit, quia dolores molestiae a alias
                        minus
                        sequi. Voluptatum, voluptates eum.
                    </p>
                </ul>
            </div>
        </div>
    </div>
</div>