<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="logo">
            <img id="logo_AP" src="../../../assets/APLogo.png" alt="LogoAP">        
        </div>
        <div class="social">
            <a class="p-1" href="https://www.facebook.com/mauro.alvarezarigos/" target="_blank">
                <img src="../../../assets/facebook.png" alt="fb">
            </a>
            <a class="p-1" href="https://github.com/MauroAlvarezArigos" target="_blank">
                <img src="../../../assets/github.png" alt="git">
            </a>
            <a class="p-1" href="https://www.linkedin.com/in/mauro-alvarez-arigós-537482218/" target="_blank">
                <img src="../../../assets/linkedin.png" alt="linkedin">
            </a>

            <button type="button" (click)="login()" *ngIf="!isLogged" class="btn btn-outline-success">LogIn</button>
            <button type="button" (click)="logout()" *ngIf="isLogged" class="btn btn-outline-success">LogOut</button>

        </div>
    </div>
</nav>