* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(168, 168, 168);
    overflow-x: hidden;

    background-image: url("assets/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}